.lettersGroup{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: fixed;
    bottom: 0;
}
.letter,.gmLetter{
    width: 100%;
    height: 100px;
    padding: 20px;
    background-color: lightblue;
    color: white;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    font-size: 50px;
}
.word{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; 
    width:20% ;
}
.wordLetter{
    width: 20%;
    height: 50px;
    padding: 20px;
    background-color: lightblue;
    color: white;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    font-size: 50px;
}
.PlayBtn{
    width: 50px;
    height: 25px;
}