{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hang Man</title>
        <script src="{% static 'hangman/app.js' %}"></script> 
        <script type="text/javascript">
            let attemptsCounter = 0
            let rightAttempts = 0;
            let isSolved = false;
            let gmDuration = 0;
            var intervalID;
            var isTimeCounted = "{{isTimeCounted}}"


            if(isTimeCounted != "False"){
                function startTimer(duration, display) {
                var timer = duration, minutes, seconds;
                intervalID = setInterval(function () {
                                minutes = parseInt(timer / 60, 10);
                                seconds = parseInt(timer % 60, 10);

                                minutes = minutes < 10 ? "0" + minutes : minutes;
                                seconds = seconds < 10 ? "0" + seconds : seconds;

                                display.textContent = minutes + ":" + seconds;

                                if (--timer < 0) {
                                    gmDuration = timer;
                                    stopTimer(timer);
                                    gameEnd();

                                }
                            }, 1000);
                }

                function stopTimer(timer){
                    clearInterval(intervalID);
                }
                window.onload = function () {
                    var twoMinutes = 60 /2,
                        display = document.querySelector('#time');
                        display.style.display = 'block';
                    startTimer(twoMinutes, display);
                };
            }
            
            document.addEventListener("DOMContentLoaded", () => {

                document.addEventListener('keypress', logKey);

                var r = "{{word}}";
                r.toUpperCase();
                var htmlEl = document.querySelector(".word");
                
                
                let attempts =0;
                for(var i = 0; i< r.length ;i++ ){
                    var letter = document.createElement("div");
                    letter.innerHTML =  r.charAt(i);
                    letter.classList.add("gmLetter");
                    htmlEl.append(letter);
                    attempts++;
                }      

                function logKey(e) {
                    
                    attemptsCounter++;
                    document.querySelectorAll('.letter').forEach(letter => {
                        if(e.key.toUpperCase() === letter.innerHTML){
                            letter.style.color = 'red';
                            document.querySelectorAll('.gmLetter').forEach(gl => {
                                if(e.key.toUpperCase() === gl.innerHTML.toUpperCase()){
                                    gl.style.color = 'red';
                                    attempts--;
                                    rightAttempts++;
                                }
                            })
                        }                        
                    });
                    if(attempts <= 0){
                        isSolved = true;
                        gameEnd();
                    }
                    if(isTimeCounted == 'False' && attemptsCounter >= 10){
                        gameEnd();
                    }
                }

                document.querySelectorAll('.gmLetter').forEach(l => {
                    l.style.color= 'lightblue';});
            });

            function gameEnd(){
                let name= "{{playerName}}";
                let result = isSolved === false? "Lose":"Win";

                document.getElementById("username").value = name;
                document.getElementById("duration").value =  gmDuration;
                document.getElementById("attempts").value = attemptsCounter;
                document.getElementById("rightAttempts").value = rightAttempts;
                document.getElementById("result").value = result;
                document.getElementById("isTimeCounted").value = isTimeCounted.toString();
                document.forms['submitForm'].submit();
            }
        </script>
        <link href="{% static 'hangman/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <div id="header" >
            <h1>Hangman Game</h1>
            <div class="name">{{playerName}}</div>
            <div><span class="time" id="time">00:30</span></div>
        </div>
        <div id="content" >
            <div class="word" >
                <div class="letter"></div>
            </div>
            <div class="lettersGroup">
                {% for letter in letters %}
                    <div class="letter">{{letter}}</div>
                {% endfor %}
            </div>
        </div>
        <div class="hidden" id="gameEndSubmit" style="display: none;">
            <form name="submitForm" action="{% url 'savegame' %}" method="post">
                {% csrf_token %}
                <input type="text" id="username" name="username" required="True">
                <input type="text" id="duration" name="duration" required="True">
                <input type="text" id="attempts" name="attempts" required="True">
                <input type="text" id="rightAttempts" name="rightAttempts" required="True">
                <input type="text" id="result" name="result" required="True">
                <input type="checkbox" id="isTimeCounted" name="isTimeCounted">
                <input  type="submit">
            </form>
        </div>
    </body>
</html>